<footer id="footer">
    <ul class="icons">
       
        <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
        
    </ul>
    <ul class="copyright">
        <li>Developers: <a href="https://www.linkedin.com/in/gitanjit-medhi-334737196/">Gitanjit Medhi and <a href="https://www.linkedin.com/in/gyanendra-prakash-a65122168/">Gyanendra Prakash</a></li>
    </ul>
</footer>